extends layout 
 
block content 
  h1= title 
  if (toShow == null) 
    h2 No instance to delete 
  else
    - let mercedes_benzid = toShow._id 
    - let mercedes_benz_luxurious_name = toShow.mercedes_benz_luxurious_name 
    - let mercedes_benz_tire_size = toShow.mercedes_benz_tire_size
    - let mercedes_benz_High_Beam_type  = toShow.mercedes_benz_High_Beam_type
    
    div.row(class='mb-2') 
      div.mr-1 ID is 
      div #{mercedes_benzid} 
    - let actionid = "/resource/mercedes_benz/" + mercedes_benzid 
    form(id='mercedes_benzForm', action= actionid, method="PUT") 
      div.form-group 
          label.mercedes_benzAttr(for='mercedes_benz_luxurious_name') car_name
          input#mercedes_benz_type(type='text', name='mercedes_benz_luxurious_name', value= mercedes_benz_luxurious_name ) 
      div.form-group 
          label.mercedes_benzAttr(for='mercedes_benz_tire_size') car_tire 
          input#size(type='', numberame='mercedes_benz_tire_size', value=mercedes_benz_tire_size) 
      div.form-group 
          label.mercedes_benzAttr(for='{mercedes_benz_High_Beam_type') car_cost
          input#cost(type='text', name='mercedes_benz_High_Beam_type', value=mercedes_benz_High_Beam_type )
      input(type="submit") 
  
    script. 
      document.forms['mercedes_benzForm'].addEventListener('submit', (event) => { 
        event.preventDefault(); 
        // TODO do something here to show user that form is being submitted 
        fetch(event.target.action, { 
          method: 'PUT', 
          body: new URLSearchParams(new FormData(event.target)) // event.target is the form 
        }).then((resp) => { 
          return resp.json(); // or resp.text() or whatever the server sends 
        }).then((body) => { 
          alert("Update succeded") 
          // TODO handle body 
        }).catch((error) => { 
          // TODO handle error 
          alert("Update failed " + error ) 
        }); 
      }); 